
/*
    HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


/* Print Styles */
body {
	background-attachment: fixed;
	font-family: 'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
	font-size:90%;
	color:#444;
	margin:0px auto;
	padding:0px;
	text-align:left;
	line-height:1.4em;
	margin:0px;
}

.wrap {
	width:100%;
	float:left;
}

.wrap-inner{
	margin:0 auto;
	width:960px;
	overflow:visible;
	position:relative;	
}

.logo {
	float:left;
	margin-top:40px;
	width:200px;
}

.logo img {
	width:200px;
}

.anchor {
	margin-top:0px;
	margin-bottom:0px;
	float:right;
	height:0px;
	width:100px;
}

.clear {
	width:700px;
	margin-left:220px;
	float:left;
}

section {
	width:960px;
	padding:0px;
	padding-top:1px;
	float:left;
	position:relative;
}

.left {
	width:auto;
	border:1px solid #ccc;
	margin:15px;
	margin-left:0px;
	padding:5px;
	float:left;
}

.center {
	border:1px solid #ccc;
	text-align:center;
	padding:5px;
	margin:20px auto 20px auto;
	width:690px;
}

.caption {
	text-align:center;
	margin-bottom:0px;
}

aside {
	width:200px;
	position:fixed;
	margin-top:0px;
}

h1, h2, h3, h4, h5, h6 {
	color:#122c3d;
	font-size:1.6em;
	letter-spacing:normal;
	font-weight:normal;
	margin:20px 0px 20px 0px;	
}

h1 { 
	font-size: 1.3em;
	margin:20px 0px 20px 0px;
}

h2 { 
	font-size: 1.2em;
	margin:20px 0px 15px 0px;
}

h3 { 
	font-size: 1.1em;
	margin:20px 0px 10px 0px;
}

h4 { 
	font-size: 1.0em; 
	margin:20px 0px 10px 0px;	
}

h5 { 
	font-size: 0.8em; 
	margin:20px 0px 10px 0px;
}

h6 { 
	font-size: 0.7em; 
	margin:20px 0px 10px 0px;
}

h1 {
	font-family: 'NixieOneRegular';
	font-size: 2.9em;
	line-height:1em;
	margin:30px 0px 30px 0px;
	position:relative;
	padding-bottom:30px;
	border-bottom:1px dashed #ed2793;
}

h1 .header-num {
	color:#00bcf2;
	right:0px;
	position:absolute;
}

h2 {
	position:relative;
	padding-bottom:10px;
	border-bottom:1px dashed #ccc;
	margin-bottom:10px;
	margin-top:30px;
}

h2 span.header-num {
	color:#00bcf2;
	right:0px;
	position:absolute;
}

p {
	line-height:24px;
	font-size:13px;
	letter-spacing:normal;
	margin-bottom:20px;
}

label {
	font-size:12px;
	margin:5px 0;
}

blockquote {
	width:30%;
	float:right;
	padding:20px;
	margin:20px;
	margin-right:none;
	font-size:18px;
	line-height:28px;
	font-family: 'NixieOneRegular';
	font-style:italic;
	font-weight:normal;
	color:#333;
	border:1px solid #ccc;
}

cite {
	color:#333;
	font-size:12px;
	font-style:normal;
	margin-left:30px;
	padding-top:0px;
	padding-bottom:80px;
	float:right;
}

ul {
	list-style:inside;
	margin-left:40px;
}

ol {
	margin-left:50px;
}

li { 
	font-size:13px;
	letter-spacing:normal;
	margin-bottom:10px;
}

a:link, a:visited {
	font-weight:normal;
	color:#9ecc49;
	text-decoration:none;
	border-bottom:1px solid #fff;
}

a { -webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
	
}

a:hover {
	color:#9ecc49;
	border-bottom:1px solid #9ecc49;
}

.cite{
	text-align:left;
	bottom:0px;
	position:absolute;
}	
	
/* Fonts */	
@font-face {
    font-family: 'NixieOneRegular';
    src: url('fonts/nix/NixieOne-Regular-webfont.eot');
    src: url('fonts/nix/NixieOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nix/NixieOne-Regular-webfont.woff') format('woff'),
         url('fonts/nix/NixieOne-Regular-webfont.ttf') format('truetype'),
         url('fonts/nix/NixieOne-Regular-webfont.svg#NixieOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('fonts/prox/regular/ProximaNova-Reg-webfont.eot');
  src: url('fonts/prox/regular/ProximaNova-Reg-webfont.eot?iefix') format('eot'),
     url('fonts/prox/regular/ProximaNova-Reg-webfont.woff') format('woff'),
     url('fonts/prox/regular/ProximaNova-Reg-webfont.ttf') format('truetype'),
     url('fonts/prox/regular/ProximaNova-Reg-webfont.svg#webfonttLdMzI8n') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('fonts/prox/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/prox/light/ProximaNova-Light-webfont.eot?iefix') format('eot'),
     url('fonts/prox/light/ProximaNova-Light-webfont.woff') format('woff'),
     url('fonts/prox/light/ProximaNova-Light-webfont.ttf') format('truetype'),
     url('fonts/prox/light/ProximaNova-Light-webfont.svg#webfontgjwfewia') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaThin';
  src: url('fonts/prox/thin/ProximaNova-Thin-webfont.eot');
  src: url('fonts/prox/thin/ProximaNova-Thin-webfont.eot?iefix') format('eot'),
     url('fonts/prox/thin/ProximaNova-Thin-webfont.woff') format('woff'),
     url('fonts/prox/thin/ProximaNova-Thin-webfont.ttf') format('truetype'),
     url('fonts/prox/thin/ProximaNova-Thin-webfont.svg#webfontFl2IlMVK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('fonts/prox/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/prox/bold/ProximaNova-Bold-webfont.eot?iefix') format('eot'),
     url('fonts/prox/bold/ProximaNova-Bold-webfont.woff') format('woff'),
     url('fonts/prox/bold/ProximaNova-Bold-webfont.ttf') format('truetype'),
     url('fonts/prox/bold/ProximaNova-Bold-webfont.svg#webfontgrewrCss') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('fonts/prox/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/prox/semibold/ProximaNova-Sbold-webfont.eot?iefix') format('eot'),
     url('fonts/prox/semibold/ProximaNova-Sbold-webfont.woff') format('woff'),
     url('fonts/prox/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype'),
     url('fonts/prox/semibold/ProximaNova-Sbold-webfont.svg#webfont0AWgWg75') format('svg');
  font-weight: normal;
  font-style: normal;
}

.print-icon,.comment-icon,.video{
    display: none;
}